:root {
    --primary-color: goldenrod;
    --secondary-color: hsl(240, 100%, 3%);
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

.container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list-pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.list-pages > * {
    cursor: pointer;
    font-weight: bolder;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1rem;
}

.active-page {
    outline: 1px solid var(--primary-color);
    outline-offset: 2px;
}

.list-header {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.list-items {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}