{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'first_steps/css/name_list.css' %}">
    <div class="container">
        {% include 'first_steps/components/list.html' %}
        <div class="controls">
            <div>
                <label for="search-name">Search for name:</label>
                <input type="text" id="search-name" placeholder="Search..."
                    hx-get="/list"
                    hx-trigger="keyup changed"
                    hx-swap="outerHTML"
                    hx-target="#list"
                    name="name"
                    hx-include="[name='page']"
                >
            </div>
            <div
            hx-swap="outerHTML"
            hx-target="#list"
            hx-include="[name='page'], [name='name'], [name='add-name']">
                <label for="add-name">Add name:</label>
                <input type="text" id="add-name" name="add-name" placeholder="Add..."
                    hx-post="/list/add"
                    hx-trigger="keyup[keyCode==13]"
                >
                <button 
                    hx-post="/list/add"
                >Add</button>
            </div>
        </div>
    </div>
{% endblock %}